/* 轮播图 */
.m-banner .banner-container {
	width: 100%;
	/*height: 7rem;*/
	/*            overflow: hidden;*/
	margin: 0 auto;
}
.mt_boxs .bd .tempWrap ul, .mt_boxs .banner-container .tempWrap {
	height: 10rem;
}
.bd .tempWrap ul, .banner-container .tempWrap ul li {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-left: 1rem;
	left: -.8%;
	border-radius: .7rem;
}
.m-banner .banner-intelligent {
	width: 100%;
	/*height: 7rem;*/
	overflow: hidden;
	margin: 0 auto;
}
.m-banner .banner-intelligent img {
	width: 100%;
	float: left;
	height: auto;
	object-fit: cover;
}
.bd .tempWrap ul, .banner-intelligent .tempWrap ul li {
	width: 99%;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 0.7rem;
}
.m-banner .hd {
	position: absolute;
	bottom: 1%;
	width: 100%;
	text-align: right !important;
	right: 7%;
}
.m-banner .hd ul li {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	background-color: #fedede;
	color: transparent;
	border-radius: 500px;
	margin-right: 0.192rem;
	text-indent: -999px;
}
.m-banner .hd ul li.on {
	background-color: #fd5148;
	width: 1.5rem;
	/*            height: .385rem; */
}
.m-banner {
	width: 99%;
	position: relative;
}
.mt_boxs {
	width: 100%;
	padding: 0 1rem;
}
.mt_boxs .m-banner {
	padding: 0;
	margin-top: 0 !important;
}
.mt_boxs .m-banner .banner-container img {
	width: 100%;
	float: left;
	/* object-fit: scale-down; */
	/*height: 10rem;*/
	border-radius: .5rem;
}
.mt_boxs .m-banner .banner-container {
	width: 100%;
	height: 10rem;
	border-radius: 0;
	overflow: hidden;
	margin: 0 auto;
}
.mt_boxs .bd .tempWrap ul, .mt_boxs .banner-container .tempWrap ul li {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-left: 0rem !important;
	left: 0%;
	border-radius: .7rem;
}
/*	轮播图结束*/
.m_dbox {
	width: 100%;
	display: flex;
	height: 3rem;
	line-height: 3.5rem;
	padding: 0 1rem;
	justify-content: space-between;
}
.m_dbox .mstio {
	color: #ff4c73;
	font-weight: 500;
}
.m_dbox .mstios {
	color: #919899;
	font-weight: 500;
}
.m_dbox .mstio .uing {
	display: inline-block;
	width: 1rem;
	margin: 0 .35rem;
}
.m_dbox .mstios .uings {
	display: inline-block;
	width: .45rem;
	margin: 0 .35rem;
}
.m_dbox span:nth-child(1) {
	font-size: 1.1678rem;
	color: #111111;
	font-weight: 600;
}
.m_dbox span:nth-child(1) img {
	vertical-align: middle;
	width: 1rem;
	margin-right: .5rem;
}
.hot-content {
	width: 100%;
	padding: 0 1rem;
	height: 5rem;
	margin-bottom: 1rem;
}
.hot-content span {
	padding: .25rem .7rem;
	font-size: .75rem;
	color: #999999;
	float: left;
	background-color: #f3f4f6;
	margin-right: .64rem;
	margin-bottom: .64rem;
	border-radius: 500px;
}
.he-color {
	height: 1.4rem;
	background-color: #f4f2f2;
	width: 100%;
}
.option_box_ {
	width: 100%;
	overflow: hidden;
	/*    margin-top: 1rem;*/
}
.option_box {
	width: 95%;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 10px;
	background-color: #fff;
}
.option_box li {
	float: left;
	width: 25%;
	margin-top: 1rem;
}
.option_box .option {
	text-align: center;
	position: relative;
}
.option_box .option img {
	width: 3rem;
	height: 3rem;
	display: block;
	margin: 0 auto;
}
.option_box .option p {
	height: 1.538rem;
	line-height: 1.54rem;
	font-size: 0.97rem;
	color: #282828;
	margin-top: .45rem;
	position: relative;
}
.option_boxww {
	margin-top: .8rem;
}
.option_boxww .option img {
	width: 4.2rem;
	height: 4.2rem;
	display: block;
	margin: 0 auto;
}
.option_box2 li {
	float: left;
	width: 20%;
	margin-top: 1rem;
}
.option_box2 .option p {
	font-size: .882rem;
	color: #282828;
	margin-top: .45rem;
}
#mtsdie {
	position: inherit;
	margin-top: 1.5rem;
	height: 5.7rem;
	width: 93%;
	box-shadow: none;
	margin-bottom: 1rem;
}
.mtsed {
	width: 94%;
	height: 12.25rem;
	display: flex;
	margin: 0 auto;
	background: #ffffff;
	border-radius: .3rem;
	box-shadow: 0px 2px 4px 1px #e3e3e3;
	margin-top: -3rem;
	justify-content: space-between;
	position: relative;
	z-index: 3;
}
#mtsdie .mtes_left {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#mtsdie .mtes_left div:nth-child(1) {
	width: 48%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #f5f7f7 url(/index/images/yuyue.png) no-repeat 1rem center;
	height: 100%;
	background-size: 2rem;
	padding-left: 4.23rem;
}
#mtsdie .mtes_left div:nth-child(1) p:nth-child(1) {
	width: 100%;
	font-size: 1.4315rem;
	color: #ff89a3;
	font-weight: 600;
	text-align: left;
	margin-bottom: .21rem;
}
#mtsdie .mtes_left div:nth-child(1) p:nth-child(2) {
	width: 100%;
	font-size: .93rem;
	color: #666666;
	text-align: left;
	font-weight: 500;
}
#mtsdie .mtes_left div:nth-child(2) {
	width: 48%;
	background: #f5f7f7 url(/index/images/kuashu.png) no-repeat 1rem center;
	height: 100%;
	background-size: 1.9rem;
	border-radius: .32rem;
	display: flex;
	flex-direction: column;
	padding-left: 4.23rem;
	justify-content: center;
}
#mtsdie .mtes_left div:nth-child(2) p:nth-child(1) {
	font-size: 1.4315rem;
	color: #6cbfff;
	font-weight: 600;
	text-align: left;
	width: 90%;
	margin-bottom: .21rem;
}
#mtsdie .mtes_left div:nth-child(2) p:nth-child(2) {
	font-size: .93rem;
	color: #666666;
	font-weight: 500;
	text-align: left;
	width: 90%;
}
.makecontent {
	width: 100%;
	background-color: #f4f2f2;
	padding: 1rem 0;
}
.makefriends {
	display: flex;
	flex-wrap: wrap;
	background: #ffffff;
	height: 7rem;
	width: 93%;
	margin: 0 auto;
	position: relative;
	border-radius: .2rem;
}
.makefriends div.makebg {
	width: 7.5rem;
	height: 5.325rem;
	/* background: url(https://lxj.yjxun.cn/images/jiagnkae.png) 1.642rem top no-repeat; */
	/* border-right: 1px solid #d6d3d4; */
	background-size: 50%;
	padding-left: .7rem;
	padding-right: .7rem;
	align-self: center;
}
.chalook {
	margin-left: 2.1rem;
	color: #a6a3a3;
	font-size: .8rem;
	position: absolute;
	bottom: 11%;
	right: 3%;
	width: 5.5rem;
	height: 2rem;
	line-height: 2rem;
	border: 1px solid #ff91a9;
	border-radius: 500px;
	color: #ff91a9;
	line-height: 2rem;
	text-align: center;
}
.makefriends div.makebg img {
	width: 100%;
	height: 100%;
	border-radius: .3rem;
}
.makefP {
	width: 60%;
	flex: 1;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.makefP img {
	position: absolute;
	right: 0;
	top: 0;
	width: 1.145rem;
	align-self: center;
	margin: .5rem .5rem;
}
.makefP .maskbox .mssktitle {
	font-size: 1.12rem;
	font-weight: 600;
}
.makefP .maskbox .msttime {
	font-size: .98rem;
	font-weight: 500;
	color: #666;
	margin-top: .2rem;
}
.makefP .maskbox {
	width: 88%;
	margin-top: .8rem;
}
.listitem1 {
	display: flex;
}
.listitem {
	background: #ffffff;
	overflow: hidden;
	width: 100vw;
}
.listitem1 .artic {
	flex: 3;
	padding: 0.5rem 1rem 0.5rem 0rem;
	position: relative;
	width: 100vw;
}
.listitem .artic {
	width: 92%;
	margin: 0 auto;
	text-align: justify;
	/* padding-top: .7rem; */
}
.title {
	color: #171717;
	font-size: 1.15rem;
	font-weight: 600;
	width: 16rem;
	margin-top: .3rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.piece {
	color: #656565;
	font-size: 0.9rem;
	position: absolute;
	bottom: .66rem;
	display: flex;
	justify-content: space-between;
	width: 90%;
	text-align: right;
}
.piece .piexe_t {
	color: #ff4c73;
	font-size: 1.32rem;
	margin-top: -.3rem;
}
.piece .piexe_w {
	margin-top: -.3rem;
}
.pide_img img {
	width: 100%;
}
.listitem1 .img {
	flex: 1.21;
	padding: 1rem;
}
.listitem1 .zoomImage {
	height: 6.96rem;
	border-radius: .3rem;
	margin: 0 auto;
	padding-bottom: 0;
}
.zoomImage {
	background-size: cover;
	background-position: center center;
}
.citem_div2 {
	color: #666;
	font-size: .95rem;
	line-height: 1rem;
	font-weight: 500;
	margin-top: .6rem;
}
.citem_div5 {
	color: #666;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	font-size: .85rem;
	line-height: 1rem;
	font-weight: 500;
	margin-top: .4rem;
}
.citem_div3 {
	color: #2196F3;
	font-size: .85rem;
	display: flex;
	margin-top: .3rem;
}
.citem_div3 span {
	padding: 0rem .6rem;
	border: 1px solid #2196F3;
	margin-right: .6rem;
	border-radius: 500px;
}
#ketangs .listitem1 .artic {
	flex: 3;
	padding: 1rem 0rem 0.9rem 1rem;
	position: relative;
	width: 100vw;
}
#ketangs .listitem1 .img {
	flex: 2;
	padding: 1rem;
}
.m-bannersimg {
	width: 100%;
	padding: 0 1rem;
	/* height: 10rem; */
	display: flex;
	align-items: center;
}
.m-bannersimg img {
	width: 100%;
	height: 7rem;
}
.planting {
	width: 100%;
	overflow: hidden;
}
.planting ul {
	width: 100%;
	display: inline;
	white-space: nowrap;
	overflow-x: scroll;
	float: left;
	overflow-y: hidden;
	padding-right: 1rem;
}
.planting ul li {
	margin-left: 1rem;
	/*        height: 15rem;*/
	width: 7.5rem;
	white-space: initial;
	border-radius: .5rem;
	overflow: hidden;
	display: inline-block;
}
#pig_two ul li {
	width: 12rem;
}
.planting .poster-thumb {
	height: 6.3rem;
}
.planting .poster-thumb img {
	height: 6.3rem;
	object-fit: cover;
	border-radius: .3rem;
}
.poster-title {
	width: 100%;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	margin-top: .5rem;
	-webkit-box-orient: vertical;
}
.poster-subtitle {
	font-size: .88rem;
	color: #666;
	margin-top: .5rem;
}
.poster-price {
	font-size: 1.11rem;
	color: #ff4c73;
	margin-top: .5rem;
}
.poster-price span:nth-child(1) {
	margin-right: .3rem;
}
#ketangs .listitem1 .artic {
	flex: 3;
	padding: 1rem 0rem 0.9rem 1rem;
	position: relative;
	width: 100vw;
}
#ketangs .listitem1 .img {
	flex: 2;
	padding: 1rem;
}
.citem_div4 {
	margin-top: .5rem;
}
.citem_div4 .cactive1 {
	padding: .2rem .7rem;
	color: #ff8a8a;
	background: #ffefef;
	border-radius: 500px;
	margin-right: .5rem;
	font-size: .88rem;
}
.citem_div4 .cactive2 {
	padding: .2rem .7rem;
	color: #b38aff;
	background: #f1efff;
	border-radius: 500px;
	margin-right: .5rem;
	font-size: .88rem;
}
.refresh {
	width: 100%;
	height: 3rem;
	color: #b38aff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.refresh img {
	width: 1.3rem;
	margin-right: .3rem;
}
#menu {
	padding-top: 1rem;
	background: #fff;
}
#menu ul {
	justify-content: space-around;
	display: flex;
}
#menu li {
	height: 2rem;
	background: #f3f4f6;
	padding: 0 .8rem;
	border-radius: 500px;
	line-height: 2rem;
	text-align: center;
	overflow: hidden;
	font-size: .89rem;
	color: #9E9E9E;
	position: relative;
}
#menu li .pstyle {
	width: 75%;
	height: 2px;
	background: #fe597c;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
#menu li.on {
	color: #ffffff;
	background: #fe597c;
}
.clear {
	clear: both;
}
#tab-con .tab_itemst {
	width: 100vw;
	/* height: 10rem; */
	position: relative;
	display: none;
}
#tab-con .on {
	display: block;
	background-color: #fff;
}
#tab-con .ae {
	width: 3rem;
	height: 3rem;
	background: red;
}
.henline {
	height: 1.5rem;
	background: #ffffff;
}
.tab_itemst .tcontbox {
	width: 100%;
	padding: 0 1rem;
}
.container {
	width: 93%;
	margin: 0 auto;
}
.waterfall {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
}
.item {
	margin-bottom: 1.4rem;
	-moz-page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
}
.item img {
	width: 100%;
	margin-bottom: 10px;
	border-radius: .45rem;
}
.waterfall .pitcfist {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	color: #333;
}
.waterfall .pitc {
	width: 100%;
	height: 2.5rem;
	line-height: 2.5rem;
	margin-top: .5rem;
}
.waterfall .pitc img {
	vertical-align: middle;
}
.waterfall .pitc .pictimg1 {
	width: 2rem;
	border-radius: 50%;
	margin: -2.1rem .4rem 0 .2rem;
	height: 2rem;
}
.waterfall .pitc .pictimg2 {
	width: 1.3rem;
	float: right;
	border-radius: 0;
	margin: .4rem .5rem 0 0;
}
.waterfall .pitc .xs-hea {
	color: #666;
	font-size: 1rem;
	width: 60%;
	display: inline-block;
	overflow: hidden;
}
.m-dynamic {
    background: #f5f5f5;
    padding: .8rem 0 0;
}
.m-dynamic .dynamic-item {
    margin: 0 .8rem 0;
    margin-top: 0;
    padding: .2rem 1rem 0 1rem;
    background-color: #fff;
    border-radius: .3rem;
    overflow: hidden;
}
#tab_cotes_ad .m-dynamic .dynamic-item {
    padding: .2rem 0 0 0;
    margin-bottom: 1rem;
}
.m-dynamic .dynamic-item {
    margin: 0 .8rem 0;
    margin-top: 0;
    padding: .2rem 1rem 0 1rem;
    background-color: #fff;
    border-radius: .3rem;
    overflow: hidden;
}


.m-dynamic {
	background: #f5f5f5;
	padding: .8rem 0 0;
}
.m-dynamic .dynamic-item {
	margin: .8rem 0;
	margin-top: 0;
	padding: 1.2rem 1rem 0 1rem;
	background-color: #fff;
	border-radius: .3rem;
	overflow: hidden;
}
.m-dynamic .dynamic-item:last-child {
	margin-bottom: 0;
}
.dynamic-item .dynamic-content {
	text-align: justify;
	line-height: 1.8rem;
}
.item-atlas {
	overflow: hidden;
}
.dynamic-item .item-atlas {
	width: 100%;
	margin: .8rem 0;
}
.item-atlas ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.item-atlas ul li {
	/*flex: 1;

     flex: 0.32; */
	position: relative;
	width: 66%;
}
.dynamic-item .item-push {
	width: 35%;
	margin: .7rem 0;
	border-radius: 4px;
	background-color: #f5f5f5;
	padding: .7rem;
	overflow: hidden;
}
.item-tool .tool-top {
	overflow: hidden;
	padding-bottom: .8rem;
	padding-top: .4rem;
	position: relative;
}
.item-tool .tool-top:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #e0e0e0;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
}
.item-tool .tool-member {
	overflow: hidden;
	float: left;
	width: 60%;
}
.tool-member .member-head {
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}
.member-head img {
	display: block;
	width: 100%;
}
.member-head img {
	height: 2.6rem;
}
.tool-member .member-info {
	margin-left: 3.5rem;
}
.member-info p {
	line-height: 1.5rem;
}
.member-info p:last-child {
	font-size: .85rem;
	color: #999;
}
.item-tool .tool-nav {
	float: right;
	height: 3rem;
	line-height: 3rem;
	width: 40%;
	/* overflow: hidden; */
	font-size: .9rem;
}
.tool-nav span {
	padding-left: 15%;
	/* margin-right: 1.1rem; */
	height: 2rem;
	line-height: 2rem;
	margin-top: .5rem;
	display: block;
	float: right;
}
.tool-nav .nav-share {
	background: url(/circleN/style4/images/icon_share.png) no-repeat 0 40%;
	background-size: 1.15rem;
}
.tool-nav .nav-comment {
	background: url(/circleN/style4/images/icon_comment.png) no-repeat 0 54%;
	background-size: 1.15rem;
	margin-right: 19%;
}
.tool-nav .nav-like {
	background: url(/circleN/style4/images/icon_like.png) no-repeat 0 35%;
	background-size: 1.15rem;
	margin-right: 1.3rem;
}
.item-tool .tool-bottom {
	padding-top: .6rem;
	color: #999;
	font-size: .95rem;
	line-height: 1.5rem;
	display: none;
}
.tool-bottom span {
	padding: .15rem .6rem;
	border-radius: 4px;
	background-color: #f5f5f5;
	display: inline-block;
	/* font-size: .95rem; */
}
.toCircleTip {
	display: inline-block;
	background: url(/circleN/style4/images/jiao.png) no-repeat center;
	width: .5rem;
	background-size: 90%;
	height: .6rem;
}
.tool-bottom span i {
	padding: .15rem .5rem;
	margin-left: .5rem;
	background-color: #ff6d6d;
	color: #fff;
	border-radius: 4px;
	font-size: .9rem;
}
.tool-bottom font {
	margin-left: .8rem;
}
.operate-close {
	float: right;
	width: .7rem;
	height: 1.6rem;
	display: block;
	background: url(/circleN/style4/images/icon_close.png) no-repeat center;
	background-size: 100%;
	margin-right: .2rem;
	display: none;
}
.zoomImage {
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	border: 1px solid #eaeaea;
}
.wenzi {
	font-size: 1.2rem;
}
.item-atlas ul li {
    height: 12rem;
    border-radius: 5px;
    overflow: hidden;
}

.item-atlas ul li {
    position: relative;
    width: 66%;
}